<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Task Edit</h1>
</div>
<div class="card mb-40">
    <div class="card-header">
        <i class="fa fa-edit"></i> Edit
    </div>
    <div class="card-body">
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="AssignedTo">AssignedTo</label>
                        <input type="text" class="form-control" id="AssignedTo" [(ngModel)]="item.AssignedTo" name="AssignedTo" #AssignedTo="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="Comments">Comments</label>
                        <input type="text" class="form-control" id="Comments" [(ngModel)]="item.Comments" name="Comments" #Comments="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="DaysAllowed">DaysAllowed</label>
                        <input type="number" class="form-control" id="DaysAllowed" [(ngModel)]="item.DaysAllowed" name="DaysAllowed" #DaysAllowed="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="DueDate">DueDate</label>
                        <input type="date" class="form-control" id="DueDate" [(ngModel)]="item.DueDate" name="DueDate" #DueDate="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="Status">Status</label>
                        <input type="text" class="form-control" id="Status" [(ngModel)]="item.Status" name="Status" #Status="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="TaskDescription">TaskDescription</label>
                        <input type="text" class="form-control" id="TaskDescription" [(ngModel)]="item.TaskDescription" name="TaskDescription" #TaskDescription="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="TaskLink">TaskLink</label>
                        <input type="text" class="form-control" id="TaskLink" [(ngModel)]="item.TaskLink" name="TaskLink" #TaskLink="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="TaskName">TaskName</label>
                        <input type="text" class="form-control" id="TaskName" [(ngModel)]="item.TaskName" name="TaskName" #TaskName="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="TaskOwner">TaskOwner</label>
                        <input type="text" class="form-control" id="TaskOwner" [(ngModel)]="item.TaskOwner" name="TaskOwner" #TaskOwner="ngModel" >
                    </div>
                    <!-- RELATIONS -->
                    <h2 class="mb-20">Relations</h2>

                    <div class="pb-30">
                        <div class="mb-20">
                            <label>TaskList</label>

                            <span class="dropdown ml-20">
                                <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtonTaskList" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Add
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonTaskList">
                                    <button class="dropdown-item" *ngFor="let item of listTaskList" [class.disabled]="containTaskList(item._id)" (click)="$event.preventDefault(); containTaskList(item._id) || addTaskList(item._id)">{{item._id}}
                                    </button>
                                </div>
                            </span>
                        </div>
                        <div class="mb-40">
                            <ul class="list-group">
                                <li class="list-group-item" *ngIf="!item.tasklist || item.tasklist.length == 0">No item found</li>
                                <li class="list-group-item" *ngFor="let obj of item.tasklist; let i = index">
                                    {{obj}}

                                    <button class="btn btn-danger pull-right" type="button" (click)="removeTaskList(i)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h2 *ngIf="externalDocument[0]">External Relations</h2>
        
                        <h3 *ngIf="externalDocument[0]">Document</h3>
                        <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of externalDocument">{{item._id}}</li>
                        </ul>

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid, item)">Save</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Back To List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>