<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/candidates" routerLinkActive="active">Link to List Candidate</a>
    </div>
    <div>
        <a routerLink="/candidatenotifications" routerLinkActive="active">Link to List CandidateNotification</a>
    </div>
    <div>
        <a routerLink="/candidatesurveys" routerLinkActive="active">Link to List CandidateSurvey</a>
    </div>
    <div>
        <a routerLink="/documents" routerLinkActive="active">Link to List Document</a>
    </div>
    <div>
        <a routerLink="/jobapplications" routerLinkActive="active">Link to List JobApplication</a>
    </div>
    <div>
        <a routerLink="/positions" routerLinkActive="active">Link to List Position</a>
    </div>
    <div>
        <a routerLink="/processflows" routerLinkActive="active">Link to List ProcessFlow</a>
    </div>
    <div>
        <a routerLink="/rolepermissions" routerLinkActive="active">Link to List RolePermission</a>
    </div>
    <div>
        <a routerLink="/surveys" routerLinkActive="active">Link to List Survey</a>
    </div>
    <div>
        <a routerLink="/tasks" routerLinkActive="active">Link to List Task</a>
    </div>
    <div>
        <a routerLink="/tasklists" routerLinkActive="active">Link to List TaskList</a>
    </div>
    <div>
        <a routerLink="/usernotifications" routerLinkActive="active">Link to List UserNotification</a>
    </div>
 <!-- END LINKS -->
</div>